@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not contain any machine</p>
}
else
{
 <h4>Machines the Engineer belongs to:</h4>
  <ul>
  @foreach(MachineEngineer join in Model.JoinEntities)
  {
    <li>@join.Machine.Description</li>
    @using (Html.BeginForm("DeleteJoin", "Machines"))
    {
      @Html.Hidden("joinId", @join.MachineEngineerId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>

  @* <h4>Machines the engineer contains:</h4>
  <ul>
  @foreach(MachineEngineer machine in Model.JoinEntities)
  {
    string machines = "";
    @if(machine.JoinEntities.Count == 0)
    {
      machines = "This engineer does not have any machines.";
    }
    else
    {
      List<string> machineList = new List<string>();
      @foreach(MachineEngineer join in machine.JoinEntities)
      {
        machineList.Add(join.Machine.Description);
      }
      machines = String.Join(", ", machineList);
    }
    <li>@machine.Description | Machines: @machines</li>
  }
  </ul> *@
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineers", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a Machine to Engineer", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add new engineer", "Create", "Engineers")</p>
